/*utilities*/
.w3{
    max-width: 15em;
}
.centerflex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.centerflexm{
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.holder{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    height: 60%;
    align-items: center;
    justify-content: center;
}

/*Preferenze generali*/
html{
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #2a2a2a;
}
body{
    margin: 0em;
    width: 100%;
    top:0;
    height: -webkit-fill-available;
    overflow:hidden;
}
section{
    padding: 2em;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    transition: 0.3s opacity, 0.3s transform;
    opacity: 0;
    display: none;
    transform: translateX(50%);
}
section.onopacity{
    opacity: 1;
    transform: translateX(0%);
}
.header {
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*-----------LANDING----------*/
#landing{
    position: absolute;
    top: 0px;
    flex-direction: column;
    flex-wrap: nowrap;
}
#landing.on{
    display: flex;
}
#landing > div.header > img {
    width: 5em;
}
#landing > div.header > h1 {
    font-size: 2em;
    padding-left: 0.3em;
}
#landing > div.content > h4 {
    font-size: 1.5em;
}
#landing > .content {
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

